################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.tlog
*.obj
*.log
*.pdb
*.opendb
*.db
*.iobj
*.asi
*.ipdb
*.ipch
/Release/IV SpreadShot & Recoil Fix.7z
